@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

:root{
    --black:#000000;
    --white:#5fd30c;
    --gray:#e48787;
}

body,h1,h2,h3,h4,h5,h6,p{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Mono', monospace;
}
h1{
    animation-name: change;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-duration: 4s;
}
@keyframes change {
    0% { background-color: #b18b82; } /* Start color */
    25% { background-color: #1d5f29; } /* First color change */
    50% { background-color: #1c0c66; } /* Second color change */
    75% { background-color: #9e5e50; } /* Third color change */
    100% { background-color: #108526; } /* Return to start color */
   
}
body{
    background-color: #d13d3d;
    background-size: cover;
   color: aliceblue;
   animation-name: element;
   animation-duration: 4s;
   animation-iteration-count: infinite;
   animation-delay: 3s;
}
@keyframes element {
    0% { background-color: #ff5733; } /* Start color */
    25% { background-color: #33ff57; } /* First color change */
    50% { background-color: #5733ff; } /* Second color change */
    75% { background-color: #ff5733; } /* Third color change */
    100% { background-color: #33ff57; } /* Return to start color */
   
}
.container{
    padding: 1rem;
}

.mt-3{
    margin-top: 3rem;
}

.mt-2{
    margin-top: 2rem;
}

input{
    font-size: 120%;
    border-radius: 0px;
    border-style: solid;
    border-color: transparent;
}

input[type=submit]{
    cursor: pointer;
}

input[type=submit]:hover{
    background-color: var(--black);
    color: var(--white);
    border-color: var(--gray);
}

.emoji{
    font-size: 300%;
    width: 8rem;
    max-width: 8rem;
}

.aliases{
    text-transform: capitalize;
    font-size: 125%;
}

.desc{
    font-size: 125%;
}

.desc::first-letter{
    text-transform: uppercase;
}

table{
    border-collapse: collapse;
    width: 100%;
}

tr, td{
    border-top: 1ps solid var(--gray);
    border-bottom: 1px solid var(--gray);
}
/* @media only screen and (max-width: 400px) {
    body {
        
    }
    h1 {
       font-size: 8px; /* Adjust styles for smaller screens */
    }
    /* Add more styles for smaller screens */
 } */
 
 